@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500;9..144,700&family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f2eae2;
}

.main-img {
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.text-content {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: #fff;
  width: 90%;
  margin: auto auto;
  margin-top: 20px;
  padding-bottom: 24px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  /* background-clip: padding-box;
  overflow: hidden; */
}
.header-p1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 5px;
  color: #6c7289;
  margin: 20px 0 12px 24px;
}
h1 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #1c232b;
  margin: 0 24px 16px 24px;
}
.header-p2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #6c7289;
  margin: 0 24px 24px 24px;
}
.price-div {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0 0 20px 24px;
}
.p-1 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #3d8168;
}
.p-2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  text-decoration-line: line-through;
  color: #6c7289;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 295px;
  height: 48px;
  border: none;
  background: #3d8168;
  border-radius: 8px;
  margin: 0 24px 0 24px;
}
.button-p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
@media screen and (min-width: 1440px) {
  .text-content {
    margin: 175px auto 175px auto;
    width: 40%;
    display: flex;
    margin-left: 250px;
    padding: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .main-img {
    border-top-right-radius: 0;
  }
  .second-div {
    background-color: #fff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .header-p1 {
    margin: 32px 0 20px 30px;
  }
  h1 {
    margin: 0 32px 24px 30px;
  }
  .header-p2 {
    margin: 0 32px 29px 30px;
  }
  .price-div {
    margin: 0 0 30px 30px;
  }
  button {
    margin: 0 32px 32px 30px;
  }
  button:hover {
    background: #1a4032;
    cursor: pointer;
  }
}
